.App.container {
  max-width: 1280px;
  margin: auto;
  padding-right: 16px;
  padding-left: 16px;
}

.App .header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 12px;
}

.App .header button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgb(226, 226, 226);
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.App .header button:hover {
  background-color: rgb(235, 235, 235);
}

.App .profileDetails {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App .profileDetails .profileImg {
  margin-bottom: 16px;
}

.App .profileDetails #profile__img {
  border-radius: 50%;
  width: 96px;
  height: 96px;
}

.App .profileDetails #twitter,
.App .profileDetails #slack {
  margin: 0px;
  font-weight: 700;
  font-size: 20px;
}

.App .profileDetails #slack {
  visibility: hidden;
}

.App .link-section {
  max-width: 1216px;
  margin: auto;
  /* margin-top: 32px; */
}

.App .link-section #btn__zuri,
.App .link-section #books,
.App .link-section #book__python,
.App .link-section #pitch,
.App .link-section #book__design {
  padding-left: 44px;
  padding-right: 44px;
  min-height: 56px;
  display: block;
  max-width: 100%;
  display: flex;
  align-items: center;
  border-radius: 14px;
  justify-content: center;
  background-color: #EAECF0;
  font-size: 18px;
  color: #101828;
  font-weight: 500;
  margin-bottom: 15px;
  transition: transform .5s;
}

.App .link-section a:hover {
  transform: scale(1.05) !important;
}

@media screen and (max-width: 768px) {
  .App .link-section a {
    font-size: 16px !important;
  }
}

.App .ltLogo {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.App footer {
  padding: 15px;
  padding-bottom: 30px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-top: 1px solid #EAECF0;
}

@media screen and (max-width: 768px) {
  .App footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

.App footer img:first-child {
  width: 130px;
}

.App footer span {
  color: #667085;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.App footer img:last-child {
  width: 200px;
}

.subText {
  border: 1px solid red;
  text-align: center;
  color: #fff;
  padding: 20px;
  background-color: #101828;
  /* display: none; */
  max-width: 200px;
  border-radius: 10px;
}

.subText.active {
  display: block;
}





.tooltip {
  position: relative;
  display: inline-block;
  width: 100%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  max-width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 80%;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  display: block;
  width: 0px;
  left: 50%;
  top: 5px;
  border: 8px solid transparent;
  border-top: 0;
  border-bottom: 8px solid #000000;
  transform: translate(-50%, calc(-100% - 5px));
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}